{% extends "base.html" %}
{% load static %}
{% block title %} Corrige tus datos {% endblock %} 
 {% block content %}


<div class="container mt-5">
    <h2 class="text-center">Editar Proveedor</h2>
    <form method="post" action="{% url 'editar_proveedor' proveedor.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex justify-content-end gap-3" >
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
        <a href="{% url 'listado_proveedor' %}" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
    
</div>


 {% endblock %}